@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(1, 1, 34);
    
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 10px ;
    flex-shrink: 0;
}

.header{
font-size: 40px;
line-height: 25px;
font-family: Inter, sana-serif;
font-weight: 800;
background-color: #252f3f;
color:rgb(184, 162, 162);
border: 20px solid #252f3f;
}

ul {
    display: flex;
    gap: 30px;
    margin: 10px;
    padding: 10px 10px;
}

ul .first{
    list-style: none;
}

li{
    font-size: 15px;
    font-weight: 100;
    color: rgb(201, 201, 178);
}

.content{
    background-color: #835c52;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin: 150px;
    border-radius:11px;
    box-shadow:0 0 30px #835c52;
}

.content-img{
    height: auto;
    width: 280px;
    margin: 80px;

}

h1{
    font-size: 40px;
    line-height: 20px;
    font-weight: 800;
    font-family: madefor-text, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;;
    background-color: #835c52;
    padding: 15px ;
    margin: 10px;
}
 
.para{
    background-color: #835c52;
    margin: 15px;
    padding: 10px 15px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}

.text{
    background-color: #835c52;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px  ;
    
}

.btn{
    font-size: 15px;
    padding: 10px 20px;
    color: #ffffff; 
    font-weight: bold;
    width: 160px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #252f3f;
    margin: 18px;
    margin-top: auto;

}

.border-line{
    border: 5px solid rgb(187, 6, 6);
    margin-bottom: 10px ;
}

article {
    background-color: #d7c6c6;
    font-family: reckless,sans-serif;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-shrink: 0;
    margin: 80px;

    padding: 20px 20px;
}

.right-art{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    color: #4b4b4b;
    padding: 10px 10px ;
    border-radius: 15px;
    
}

.image-container{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    margin:25px;
    padding: 10px 15px;
    border-radius: 5px;

}

.image-text{
    color: #4b4b4b;
    background-color: #ffffff;
    padding: 15px 15px;
    margin: 12px;
}

.right-headings, .head-para, i{
    color: #4b4b4b;
    background-color: #ffffff;
}

.right-headings{
    padding: 15px;
}

.head-para{
    font-size: 15px; 
    text-decoration: underline;
}

.all-articles{
    margin-left:300px;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 14px;
    text-decoration: none;
    background-color: #4b4b4b;
    color: #d7c6c6;
    border: 2px solid #4b4b4b;
    padding: 10px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
}

.all-articles:hover{
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}

.contacts{
    padding: 30px 30px;
    margin: 30px;
    color: #3c3d3d;
    background-color: #f3f4f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.title-text{
    font-family: ibm-plex-sans,sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    background-color: #f3f4f6;
    padding: 15px;
    

}

.sect-border{
    border: 2px solid rgb(57, 2, 2);
    height: 300px;
}

.left-title{
    font-weight: 700;
    font-family: ibm-plex-sans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #f3f4f6;
    padding: 12px 15px;
    

    
}

.right-sect{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    gap: 20px;
    margin-right: 40em;
   
}

footer{
    font-size: 15px;
    font-weight: 100;
    background-color: #f3f4f6;
    text-align: center;
    padding: 20px 25px;
    
}

